:root {
	--base: #ffc600;
	--spacing: 10px;
	--blur: 10px;
}

body {
	text-align: center;
	background: #193549;
	color: white;
	font-weight: 100;
	font-size: 55px;
}

.controls {
	margin-bottom: 50px;
}

img {
	padding: var(--spacing);
	background: var(--base);
	filter: blur(var(--blur));

}

.h2 {
	color: var(--base);
}

